# 1. Introduction to Datatypes
 - "#" is used for commenting

## Integers

In [48]:
x = 10.4553 # to run a cell press shift+enter

In [42]:
id(x)

2000324905936

In [43]:
x

10000.0

In [44]:
type(x)

float

In [49]:
x1 = int(x)
type(x1)

int

In [51]:
float(x1)

10.0

In [14]:
del x

In [26]:
max(3,10.0, '2')

TypeError: '>' not supported between instances of 'str' and 'float'

In [28]:
abs(-10.0)

10.0

In [67]:
(4/(3*(2-1))) and (4/3*(2-1))

1.3333333333333333

In [71]:
float('56'+'78')

5678.0

In [75]:
'56'+'78'

'5678'

In [80]:
float('inf')

inf

In [82]:
float('12+34')

1234.0

In [77]:
max(3,4,'10')

TypeError: '>' not supported between instances of 'str' and 'int'

In [63]:
x -= 1 # x= x+1
x

9.4553

In [58]:
(x < 5) and (x<20)

False

In [40]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\neha\anaconda3\lib\site-packages (1.4.4)

WARNING: Ignoring invalid distribution -cipy (c:\users\neha\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\neha\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\neha\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\neha\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\neha\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\neha\anaconda3\lib\site-packages)

Requirement already satisfied: numpy>=1.18.5 in c:\users\neha\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\neha\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\neha\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\neha\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [33]:
import math

In [35]:
import math
print(math.exp(2))
math.sqrt(5)

2.23606797749979

In [110]:
math.floor(6.8)

6

In [39]:
!python --version

Python 3.9.13

In [111]:
a = 10

In [ ]:
a.

In [139]:
b = 'my name is neha. my friend name is also neha'
c = b.split(' ')

In [140]:
'_'.join(c)

'my_name_is_neha._my_friend_name_is_also_neha'

In [127]:
b.replace('neha', 'sita', 2)

'my name is sita. my friend name is also sita'

In [130]:
b.find('neha', 0, 22)

11

In [133]:
c = '123'
c.isnumeric() & len(c)==10

False

In [134]:
d = 'nehagupta.28jan@gmail.com'
('@' in d) & ('.com' in d)

True

In [145]:
e = ' my nam ei Sneha  '
e.lower().find('sneha')

11

In [151]:
print('C:\sume\tame')

C:\sume	ame

In [155]:
str1 = 'hello'
str1[-3:]

'llo'

# Strings
 - Strings - collection of characters
 - can be defined in "" (quotes)

In [93]:
string = '''abc's is "game" yhhikjk'''

In [95]:
len(string)

23

In [105]:
string[::-1]

'kjkihhy "emag" si s\'cba'

In [108]:
string = 'ada1'
string == string[::-1]

False

In [109]:
name = 'Saroja'

In [84]:
print(name)

Saroja

In [ ]:
name+string

In [14]:
print(string)

abc

In [94]:
type(string)

str

In [86]:
print(type(string))

<class 'str'>

In [20]:
len(string) # len() is used to find the length of the datatype, list or tuples

3

In [21]:
len(name)

6

In [23]:
new_var = 22.5

In [24]:
print(type(new_var))

<class 'float'>

In [26]:
lis = [1,3,5,7]

# indexing

In [28]:
## starts from zero in python to length -1
len(string)

3

In [29]:
string

'abc'

In [30]:
string[0]

'a'

In [31]:
string[1]

'b'

In [32]:
string[5]

IndexError: string index out of range

In [9]:
string[-1]

'c'

In [10]:
string = "jkdsnflal,c;ldsmnsdv"

In [36]:
string[-1]

'v'

In [37]:
# Positive indexing: left to right [0]
# Negative indexing: right to left [-1]

In [74]:
string = "abcdef"

In [75]:
string = "def"
print(string)

def

In [11]:
string[0:4]

'jkds'

## Slicing
 - Extraction of a substring
 - syntax is start pos and end pos (end pos excluded)

In [12]:
string[3:-1]

'snflal,c;ldsmnsd'

In [46]:
string[:3]

'abc'

In [90]:
var = "ab_bc_cd_ed.json"

In [50]:
string_1 = "abc"
string_2 = "gfd"
string_1+string_2

'abcgfd'

In [82]:
num_var_1 = 123

In [83]:
type(num_var)

int

In [84]:
num_var = str(num_var_1)
type(num_var)

str

In [58]:
string_1+num_var

'abc123'

In [59]:
string_1.capitalize() #shift+tab+tab

'Abc'

In [14]:
string_1 = string.upper()
string_1

'JKDSNFLAL,C;LDSMNSDV'

In [69]:
string.index("s")

3

In [86]:
string = "134"
string_3 = int(string)

In [87]:
type(string_3)

int

## Lists
 - data structure used to store multiple data types
 - MUTABLE
 - Syntax is []

In [91]:
list_1 = [1, 2, 3, 4]
print(list_1)

[1, 2, 3, 4]

In [92]:
print(type(list_1))

<class 'list'>

In [107]:
list_2 = [1, 2, 3.5, 5]

In [105]:
list_3 = ["abc", 123, 123.5, "def", True]

In [160]:
list1 = ['physics', 'chemistry', 45, 40.2, True]
list2 = [1, 2, 3, 4, 5, 6, 7 ]
list1[2]=400
list1

['physics', 'chemistry', 400, 40.2, True]

In [165]:
list1*2

['physics',
 'chemistry',
 400,
 40.2,
 True,
 'physics',
 'chemistry',
 400,
 40.2,
 True]

In [166]:
list1[2:4] =[]
list1

['physics', 'chemistry', True]

In [167]:
a =[]

In [161]:
for i in list1:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [162]:
list1[::-1]

[True, 40.2, 400, 'chemistry', 'physics']

In [163]:
list1[-2:]

[40.2, True]

In [111]:
list_2[1] = 6
list_2[-1] = 5

In [112]:
list_2

[1, 6, 3.5, 5]

In [113]:
list_2.pop()

5

In [175]:
list1 = ['physics', ['chemistry', 45], 40.2, True]
len(list1)

4

In [173]:
list1[1][1]

45

In [177]:
list1.append(['30', '40'])
list1

['physics', ['chemistry', 45], 40.2, True, '30', ['30', '40']]

In [178]:
list1.extend(['30', '40'])
list1

['physics', ['chemistry', 45], 40.2, True, '30', ['30', '40'], '30', '40']

In [181]:
list1.remove(['30', '40'])
list1

['physics', ['chemistry', 45], 40.2, True, '30', '30', '40']

In [183]:
list1.pop(3)
list1

['physics', ['chemistry', 45], 40.2, '30', '30']

In [186]:
list1 = [1,4,10,'neha', 'gupta']
ind = len(list1) -1
temp = list1[0]
list1[0] =list1[ind]
list1[ind]= temp
list1

['gupta', 4, 10, 'neha', 1]

In [ ]:
l2 = ['neha', 4,10, 1]

In [ ]:
salary =[100, 1000000, 20000]
tax= []
for i in salary:
    tax_temp = tax_cal(i)
    tax.append(tax_temp)

In [187]:
t1 = (1, 'neha', 1.0)
type(t1)

tuple

In [191]:
t1[:-1]

(1, 'neha')

In [192]:
t1[0] =10

TypeError: 'tuple' object does not support item assignment

In [194]:
t1.index(1)

0

In [195]:
t2 = list(t1)

In [ ]:
t2.